{% extends 'base.html.twig' %}

{% block title %}Mixeur{% endblock %}

{% block body %}
    <h1>Mixeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mixeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mixeur.nom }}</td>
            </tr>
            <tr>
                <th>Taillemax</th>
                <td>{{ mixeur.taillemax }}</td>
            </tr>
            <tr>
                <th>Vitesse</th>
                <td>{{ mixeur.vitesse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mixeur_index') }}">back to list</a>

    <a href="{{ path('app_mixeur_edit', {'id': mixeur.id}) }}">edit</a>

    {{ include('mixeur/_delete_form.html.twig') }}
{% endblock %}
